/*colori varie spunte

    blue task: #42aaee

    blue editorial: #3fa8e7

    purple goals: #a26ce0

    green recruiting:#58c0aa

    ⯆

*/


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color:#f6f8f9;
}

.top-bar{
    width: 100%;
    height: 120px;
    background-color: white;
}

.top-bar img{
    width: 120px;
    height: 120px;
    padding: 20px;
    float: left;
}

h1 {
    display: inline-block;
    font-size: 60px;
    line-height: 120px;
    font-weight: 800;
}

/*inizio main*/

.conteiner, .top-conteiner{
    width:70%;
    height: 1000px;
    margin:auto;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 30px;
}

.top-conteiner{
    height: 100px;
    border-bottom: 5px solid #f6f8f9;
    padding: 20px;
    margin-top: 60px;
 
}

.button{
    float: left;
    height: 45px;
    margin:5px;
    padding:12px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;

    
 
}

.button.task{
    color: white;
    background-color:#42aaee;
}

.button.section{
    color: lightgrey;
    border: 2px solid lightgrey;
    
}

ul{
    font-size: 36px;
    font-weight: bold;
    padding-top: 20px;
}

li{list-style: none;
    font-size: 24px;
    line-height: 60px;
}

.list{
    width: 30px;
    height:30px;
    border-radius: 30px;
    margin: 5px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
}

.check{    border: 2px solid #81cfbf;
    color: #81cfbf;
}

.cross{    border: 2px solid red;
    color: red;}

li{list-style: none;
    font-size: 24px;
    line-height: 60px;

}


.marker{
    display: inline-block;
    margin: 20px;
    color: white;
    border-radius: 25px;
    font-weight: 400;
    font-size: 20px;
    padding:5px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    width: 120px;
}

.editorial{
    background-color:#3fa8e7;

}

.goals{
    background-color: #a26ce0;
}

.recruiting{
    background-color: #58c0aa;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: #de629f;
}

.sales{
    background-color: #abcb40;
}










